<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    
    <span class="menu-spacer"></span>
    <div>

      <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
      <a mat-button [routerLink]="'/tables'"> Tables </a>
      <a mat-button [routerLink]="'/forms'"> Forms </a>
      <a mat-button [routerLink]="'/charts'"> Charts </a>
      <a mat-button [routerLink]="'/cards'"> Cards </a>
      <a mat-button [routerLink]="'/json'"> Json Data </a>
      

    </div>
  </mat-toolbar-row>

</mat-toolbar>